table, tr, td {
        border: 2px solid;
}
#table {
    color: darkblue;
}
td {
    padding: 25px;;
}
h1, h2 {
    font-family: sans-serif;
    color: goldenrod;
    color: ;
    background-color: ;
    padding: 10px;
    text-decoration: underline;
}
.animal {
    text-decoration: underline;
    color: blue;
}
li {
    color: violet;
}
#lista {
    list-style-type: square;
    border-style: double;
    border-radius: 12px;
    border-color: salmon;
    
}