h1 {
    color: red;
    font-weight: 150;
    text-align: justify;
    background-image: url(/img/szines.jpg);
}
h2 {
    font-stretch: semi-expanded;
}
h3{
    font-style: italic;
    font-variant: small-caps;
    font-size: xx-small;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: darkkhaki; */
    /* width: 500px; */
    margin: auto;
}
#intro {
    color: darkviolet;
    color: darkviolet;
    color: darkviolet;
    color: darkviolet;
}
table td th {
    padding: 25px;
    border: 5px solid;
}
a:hover {color: white;
    background-color: black;
}
#table {
    float: left;
}


